<div class="top-baner swiper-animate arrows">
    <div class="swiper-container main-slider" data-autoplay="5000" data-loop="1" data-speed="900" data-center="0"
         data-slides-per-view="1">
        <div class="swiper-wrapper">
            <div class="swiper-slide active" data-val="0">
                <div class="clip">
                    <div class="bg bg-bg-chrome act" th:style="'background-image:url(' + @{https://images6.alphacoders.com/299/299834.jpg} + ');'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>